In [21]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [41]:
df = pd.read_csv("Dataset.csv", encoding="ISO-8859-1")
df.head()

,Country,Online_Consumer,Age,Annual_Salary,Gender,Education,Payment_Method_Credit/Debit,Living_Region,Online_Service_Preference,AI_Endorsement,...,AI_Tools_Used _Chatbots,AI_Tools_Used_Virtual_Assistant,AI_Tools_Used_Voice&Photo_Search,Payment_Method_COD,Payment_Method_Ewallet,Product_Category_Appliances,Product_Category_Electronics,Product_Category_Groceries,Product_Category_Personal_Care,Product_Category_Clothing
0,INDIA,YES,Gen X,Medium High,Female,Masters Degree,NO,Metropolitan,NO,YES,...,YES,YES,YES,YES,NO,YES,YES,YES,YES,YES
1,INDIA,YES,Gen Z,Low,Male,University Graduate,YES,Metropolitan,NO,YES,...,YES,YES,YES,YES,YES,YES,YES,NO,NO,NO
2,INDIA,YES,Gen X,Medium High,Male,University Graduate,YES,Rural Areas,YES,YES,...,NO,YES,NO,YES,YES,YES,YES,YES,NO,NO
3,INDIA,YES,Gen X,High,Male,University Graduate,YES,Rural Areas,YES,YES,...,NO,NO,NO,YES,YES,YES,YES,YES,NO,YES
4,INDIA,YES,Gen Z,Low,Male,University Graduate,NO,Rural Areas,YES,YES,...,YES,NO,NO,YES,YES,YES,NO,YES,NO,YES

In [6]:
import chardet

# Detect the encoding of the file
with open("Dataset.csv", "rb") as f:
    result = chardet.detect(f.read())
    print(result)

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [9]:
import chardet
import pandas as pd

# Step 1: Detect encoding
file_path = "Dataset.csv"

with open(file_path, "rb") as f:
    raw_data = f.read(100000)  # Read first 100KB for efficiency
    result = chardet.detect(raw_data)
    encoding_detected = result["encoding"]

print(f"Detected Encoding: {encoding_detected} (Confidence: {result['confidence']:.2f})")

# Step 2: Load CSV using detected encoding
df = pd.read_csv(file_path, encoding=encoding_detected, low_memory=False)

# Step 3: Display basic information
print(df.info())
df.head()

Detected Encoding: Windows-1252 (Confidence: 0.73)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           656 non-null    object
 1   Online_Consumer                   656 non-null    object
 2   Age                               656 non-null    object
 3   Annual_Salary                     656 non-null    object
 4   Gender                            656 non-null    object
 5   Education                         656 non-null    object
 6   Payment_Method_Credit/Debit       656 non-null    object
 7   Living_Region                     656 non-null    object
 8   Online_Service_Preference         656 non-null    object
 9   AI_Endorsement                    656 non-null    object
 10  AI_Privacy_No_Trust               656 non-null    object
 11  AI_Enhance_Experience             656 non-null    object
 12  AI_Satisfication                  656 non-null    object
 13  AI_Tools_Used _Chatbots           656 non-null    object
 14  AI_Tools_Used_Virtual_Assistant   656 non-null    object
 15  AI_Tools_Used_Voice&Photo_Search  656 non-null    object
 16  Payment_Method_COD                656 non-null    object
 17  Payment_Method_Ewallet            656 non-null    object
 18  Product_Category_Appliances       656 non-null    object
 19  Product_Category_Electronics      656 non-null    object
 20  Product_Category_Groceries        656 non-null    object
 21  Product_Category_Personal_Care    656 non-null    object
 22  Product_Category_Clothing         656 non-null    object
dtypes: object(23)
memory usage: 118.0+ KB
None

,Country,Online_Consumer,Age,Annual_Salary,Gender,Education,Payment_Method_Credit/Debit,Living_Region,Online_Service_Preference,AI_Endorsement,...,AI_Tools_Used _Chatbots,AI_Tools_Used_Virtual_Assistant,AI_Tools_Used_Voice&Photo_Search,Payment_Method_COD,Payment_Method_Ewallet,Product_Category_Appliances,Product_Category_Electronics,Product_Category_Groceries,Product_Category_Personal_Care,Product_Category_Clothing
0,INDIA,YES,Gen X,Medium High,Female,Masters’ Degree,NO,Metropolitan,NO,YES,...,YES,YES,YES,YES,NO,YES,YES,YES,YES,YES
1,INDIA,YES,Gen Z,Low,Male,University Graduate,YES,Metropolitan,NO,YES,...,YES,YES,YES,YES,YES,YES,YES,NO,NO,NO
2,INDIA,YES,Gen X,Medium High,Male,University Graduate,YES,Rural Areas,YES,YES,...,NO,YES,NO,YES,YES,YES,YES,YES,NO,NO
3,INDIA,YES,Gen X,High,Male,University Graduate,YES,Rural Areas,YES,YES,...,NO,NO,NO,YES,YES,YES,YES,YES,NO,YES
4,INDIA,YES,Gen Z,Low,Male,University Graduate,NO,Rural Areas,YES,YES,...,YES,NO,NO,YES,YES,YES,NO,YES,NO,YES

In [11]:
df = pd.read_csv("Dataset.csv", encoding="ISO-8859-1")
df.head()

,Country,Online_Consumer,Age,Annual_Salary,Gender,Education,Payment_Method_Credit/Debit,Living_Region,Online_Service_Preference,AI_Endorsement,...,AI_Tools_Used _Chatbots,AI_Tools_Used_Virtual_Assistant,AI_Tools_Used_Voice&Photo_Search,Payment_Method_COD,Payment_Method_Ewallet,Product_Category_Appliances,Product_Category_Electronics,Product_Category_Groceries,Product_Category_Personal_Care,Product_Category_Clothing
0,INDIA,YES,Gen X,Medium High,Female,Masters Degree,NO,Metropolitan,NO,YES,...,YES,YES,YES,YES,NO,YES,YES,YES,YES,YES
1,INDIA,YES,Gen Z,Low,Male,University Graduate,YES,Metropolitan,NO,YES,...,YES,YES,YES,YES,YES,YES,YES,NO,NO,NO
2,INDIA,YES,Gen X,Medium High,Male,University Graduate,YES,Rural Areas,YES,YES,...,NO,YES,NO,YES,YES,YES,YES,YES,NO,NO
3,INDIA,YES,Gen X,High,Male,University Graduate,YES,Rural Areas,YES,YES,...,NO,NO,NO,YES,YES,YES,YES,YES,NO,YES
4,INDIA,YES,Gen Z,Low,Male,University Graduate,NO,Rural Areas,YES,YES,...,YES,NO,NO,YES,YES,YES,NO,YES,NO,YES

In [17]:
df.info

<bound method DataFrame.info of     Country Online_Consumer          Age Annual_Salary  Gender  \
0     INDIA             YES        Gen X   Medium High  Female
1     INDIA             YES        Gen Z           Low    Male
2     INDIA             YES        Gen X   Medium High    Male
3     INDIA             YES        Gen X          High    Male
4     INDIA             YES        Gen Z           Low    Male
..      ...             ...          ...           ...     ...
651  CANADA             YES        Gen X        Medium  Female
652  CANADA             YES  Millennials   Medium High    Male
653  CANADA             YES  Millennials          High  Female
654  CANADA             YES  Millennials          High  Female
655  CANADA             YES  Millennials        Medium    Male

               Education Payment_Method_Credit/Debit   Living_Region  \
0        Masters Degree                          NO    Metropolitan
1    University Graduate                         YES    Metropolitan
2    University Graduate                         YES     Rural Areas
3    University Graduate                         YES     Rural Areas
4    University Graduate                          NO     Rural Areas
..                   ...                         ...             ...
651  Highschool Graduate                          NO  Suburban Areas
652  University Graduate                         YES    Metropolitan
653  University Graduate                         YES    Metropolitan
654  Highschool Graduate                         YES  Suburban Areas
655  University Graduate                         YES    Metropolitan

    Online_Service_Preference AI_Endorsement  ... AI_Tools_Used _Chatbots  \
0                          NO            YES  ...                     YES
1                          NO            YES  ...                     YES
2                         YES            YES  ...                      NO
3                         YES            YES  ...                      NO
4                         YES            YES  ...                     YES
..                        ...            ...  ...                     ...
651                       YES             NO  ...                      NO
652                       YES            YES  ...                     YES
653                       YES             NO  ...                     YES
654                        NO            YES  ...                     YES
655                       YES            YES  ...                      NO

    AI_Tools_Used_Virtual_Assistant AI_Tools_Used_Voice&Photo_Search  \
0                               YES                              YES
1                               YES                              YES
2                               YES                               NO
3                                NO                               NO
4                                NO                               NO
..                              ...                              ...
651                              NO                               NO
652                             YES                              YES
653                              NO                               NO
654                              NO                               NO
655                             YES                               NO

    Payment_Method_COD Payment_Method_Ewallet Product_Category_Appliances  \
0                  YES                     NO                         YES
1                  YES                    YES                         YES
2                  YES                    YES                         YES
3                  YES                    YES                         YES
4                  YES                    YES                         YES
..                 ...                    ...                         ...
651                YES                     NO                         YES
652                 NO                     NO                          NO
653                 NO                     NO                          NO
654                 NO                     NO                          NO
655                 NO                     NO                         YES

    Product_Category_Electronics Product_Category_Groceries  \
0                            YES                        YES
1                            YES                         NO
2                            YES                        YES
3                            YES                        YES
4                             NO                        YES
..                           ...                        ...
651                          YES                        YES
652                           NO                         NO
653                           NO                         NO
654                          YES                         NO
655                          YES                         NO

    Product_Category_Personal_Care Product_Category_Clothing
0                              YES                       YES
1                               NO                        NO
2                               NO                        NO
3                               NO                       YES
4                               NO                       YES
..                             ...                       ...
651                            YES                       YES
652                            YES                       YES
653                             NO                        NO
654                            YES                       YES
655                            YES                       YES

[656 rows x 23 columns]>

In [18]:
df.shape

(656, 23)

In [13]:
df.nunique()

Country                             3
Online_Consumer                     2
Age                                 4
Annual_Salary                       4
Gender                              3
Education                           4
Payment_Method_Credit/Debit         2
Living_Region                       3
Online_Service_Preference           2
AI_Endorsement                      2
AI_Privacy_No_Trust                 2
AI_Enhance_Experience               2
AI_Satisfication                    2
AI_Tools_Used _Chatbots             2
AI_Tools_Used_Virtual_Assistant     2
AI_Tools_Used_Voice&Photo_Search    2
Payment_Method_COD                  2
Payment_Method_Ewallet              2
Product_Category_Appliances         2
Product_Category_Electronics        2
Product_Category_Groceries          2
Product_Category_Personal_Care      2
Product_Category_Clothing           2
dtype: int64

In [14]:
df.columns

Index(['Country', 'Online_Consumer', 'Age', 'Annual_Salary', 'Gender',
       'Education', 'Payment_Method_Credit/Debit', 'Living_Region',
       'Online_Service_Preference', 'AI_Endorsement', 'AI_Privacy_No_Trust ',
       'AI_Enhance_Experience', 'AI_Satisfication', 'AI_Tools_Used _Chatbots',
       'AI_Tools_Used_Virtual_Assistant', 'AI_Tools_Used_Voice&Photo_Search',
       'Payment_Method_COD', 'Payment_Method_Ewallet',
       'Product_Category_Appliances', 'Product_Category_Electronics',
       'Product_Category_Groceries', 'Product_Category_Personal_Care',
       'Product_Category_Clothing'],
      dtype='object')

In [15]:
df.isnull().sum()

Country                             0
Online_Consumer                     0
Age                                 0
Annual_Salary                       0
Gender                              0
Education                           0
Payment_Method_Credit/Debit         0
Living_Region                       0
Online_Service_Preference           0
AI_Endorsement                      0
AI_Privacy_No_Trust                 0
AI_Enhance_Experience               0
AI_Satisfication                    0
AI_Tools_Used _Chatbots             0
AI_Tools_Used_Virtual_Assistant     0
AI_Tools_Used_Voice&Photo_Search    0
Payment_Method_COD                  0
Payment_Method_Ewallet              0
Product_Category_Appliances         0
Product_Category_Electronics        0
Product_Category_Groceries          0
Product_Category_Personal_Care      0
Product_Category_Clothing           0
dtype: int64

In [16]:
df.describe()

,Country,Online_Consumer,Age,Annual_Salary,Gender,Education,Payment_Method_Credit/Debit,Living_Region,Online_Service_Preference,AI_Endorsement,...,AI_Tools_Used _Chatbots,AI_Tools_Used_Virtual_Assistant,AI_Tools_Used_Voice&Photo_Search,Payment_Method_COD,Payment_Method_Ewallet,Product_Category_Appliances,Product_Category_Electronics,Product_Category_Groceries,Product_Category_Personal_Care,Product_Category_Clothing
count,656,656,656,656,656,656,656,656,656,656,...,656,656,656,656,656,656,656,656,656,656
unique,3,2,4,4,3,4,2,3,2,2,...,2,2,2,2,2,2,2,2,2,2
top,CHINA,YES,Millennials,High,Female,University Graduate,YES,Metropolitan,YES,YES,...,NO,NO,NO,NO,NO,YES,YES,NO,YES,YES
freq,252,635,366,230,361,347,425,438,485,554,...,359,359,406,462,407,329,432,374,342,480

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

# Encode categorical columns
df_encoded = df.copy()
label_encoders = {}

for col in df_encoded.columns:
    if df_encoded[col].dtype == "object":
        le = LabelEncoder()
        df_encoded[col] = le.fit_transform(df_encoded[col])
        label_encoders[col] = le

# Define features (X) and target (y)
X = df_encoded.drop(columns=["Online_Consumer"])
y = df_encoded["Online_Consumer"]

# Split the data into training (80%) and testing (20%) sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# feature scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Display dataset shape after preprocessing
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((524, 22), (132, 22), (524,), (132,))

In [24]:
X

,Country,Age,Annual_Salary,Gender,Education,Payment_Method_Credit/Debit,Living_Region,Online_Service_Preference,AI_Endorsement,AI_Privacy_No_Trust,...,AI_Tools_Used _Chatbots,AI_Tools_Used_Virtual_Assistant,AI_Tools_Used_Voice&Photo_Search,Payment_Method_COD,Payment_Method_Ewallet,Product_Category_Appliances,Product_Category_Electronics,Product_Category_Groceries,Product_Category_Personal_Care,Product_Category_Clothing
0,2,1,3,0,2,0,0,0,1,1,...,1,1,1,1,0,1,1,1,1,1
1,2,2,1,1,3,1,0,0,1,1,...,1,1,1,1,1,1,1,0,0,0
2,2,1,3,1,3,1,1,1,1,1,...,0,1,0,1,1,1,1,1,0,0
3,2,1,0,1,3,1,1,1,1,1,...,0,0,0,1,1,1,1,1,0,1
4,2,2,1,1,3,0,1,1,1,1,...,1,0,0,1,1,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
651,0,1,2,0,1,0,2,1,0,1,...,0,0,0,1,0,1,1,1,1,1
652,0,3,3,1,3,1,0,1,1,1,...,1,1,1,0,0,0,0,0,1,1
653,0,3,0,0,3,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,0
654,0,3,0,0,1,1,2,0,1,1,...,1,0,0,0,0,0,1,0,1,1
655,0,3,2,1,3,1,0,1,1,1,...,0,1,0,0,0,1,1,0,1,1

In [25]:
y

0      1
1      1
2      1
3      1
4      1
      ..
651    1
652    1
653    1
654    1
655    1
Name: Online_Consumer, Length: 656, dtype: int64

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

(0.8939393939393939, 0.946969696969697, 0.946969696969697)

In [28]:
# Train Logistic Regression
lr_model = LogisticRegression(max_iter=1000, random_state=42)
lr_model.fit(X_train, y_train)
lr_pred = lr_model.predict(X_test)
lr_acc = accuracy_score(y_test, lr_pred)

In [29]:
# Train Random Forest Classifier
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)
rf_pred = rf_model.predict(X_test)
rf_acc = accuracy_score(y_test, rf_pred)

In [30]:
# Train Decision Tree Classifier
dt_model = DecisionTreeClassifier(random_state=42)
dt_model.fit(X_train, y_train)
dt_pred = dt_model.predict(X_test)
dt_acc = accuracy_score(y_test, dt_pred)

In [31]:
# Display accuracy of all models
dt_acc, rf_acc, lr_acc

(0.8939393939393939, 0.946969696969697, 0.946969696969697)

In [32]:
# Print accuracy scores
print(f"Decision Tree Accuracy: {dt_acc:.4f}")
print(f"Random Forest Accuracy: {rf_acc:.4f}")
print(f"Logistic Regression Accuracy: {lr_acc:.4f}")

Decision Tree Accuracy: 0.8939
Random Forest Accuracy: 0.9470
Logistic Regression Accuracy: 0.9470

In [42]:
# Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Load the dataset
data2 = pd.read_csv('Dataset.csv', encoding='ISO-8859-1')    # Load the dataset
print(data2.info())    # Display basic information

# Display the first few rows of the dataset
print(data2.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           656 non-null    object
 1   Online_Consumer                   656 non-null    object
 2   Age                               656 non-null    object
 3   Annual_Salary                     656 non-null    object
 4   Gender                            656 non-null    object
 5   Education                         656 non-null    object
 6   Payment_Method_Credit/Debit       656 non-null    object
 7   Living_Region                     656 non-null    object
 8   Online_Service_Preference         656 non-null    object
 9   AI_Endorsement                    656 non-null    object
 10  AI_Privacy_No_Trust               656 non-null    object
 11  AI_Enhance_Experience             656 non-null    object
 12  AI_Satisfication                  656 non-null    object
 13  AI_Tools_Used _Chatbots           656 non-null    object
 14  AI_Tools_Used_Virtual_Assistant   656 non-null    object
 15  AI_Tools_Used_Voice&Photo_Search  656 non-null    object
 16  Payment_Method_COD                656 non-null    object
 17  Payment_Method_Ewallet            656 non-null    object
 18  Product_Category_Appliances       656 non-null    object
 19  Product_Category_Electronics      656 non-null    object
 20  Product_Category_Groceries        656 non-null    object
 21  Product_Category_Personal_Care    656 non-null    object
 22  Product_Category_Clothing         656 non-null    object
dtypes: object(23)
memory usage: 118.0+ KB
None
  Country Online_Consumer    Age Annual_Salary  Gender            Education  \
0   INDIA             YES  Gen X   Medium High  Female      Masters Degree
1   INDIA             YES  Gen Z           Low    Male  University Graduate
2   INDIA             YES  Gen X   Medium High    Male  University Graduate
3   INDIA             YES  Gen X          High    Male  University Graduate
4   INDIA             YES  Gen Z           Low    Male  University Graduate

  Payment_Method_Credit/Debit Living_Region Online_Service_Preference  \
0                          NO  Metropolitan                        NO
1                         YES  Metropolitan                        NO
2                         YES   Rural Areas                       YES
3                         YES   Rural Areas                       YES
4                          NO   Rural Areas                       YES

  AI_Endorsement  ... AI_Tools_Used _Chatbots AI_Tools_Used_Virtual_Assistant  \
0            YES  ...                     YES                             YES
1            YES  ...                     YES                             YES
2            YES  ...                      NO                             YES
3            YES  ...                      NO                              NO
4            YES  ...                     YES                              NO

  AI_Tools_Used_Voice&Photo_Search Payment_Method_COD Payment_Method_Ewallet  \
0                              YES                YES                     NO
1                              YES                YES                    YES
2                               NO                YES                    YES
3                               NO                YES                    YES
4                               NO                YES                    YES

  Product_Category_Appliances Product_Category_Electronics  \
0                         YES                          YES
1                         YES                          YES
2                         YES                          YES
3                         YES                          YES
4                         YES                           NO

  Product_Category_Groceries Product_Category_Personal_Care  \
0                        YES                            YES
1                         NO                             NO
2                        YES                             NO
3                        YES                             NO
4                        YES                             NO

  Product_Category_Clothing
0                       YES
1                        NO
2                        NO
3                       YES
4                       YES

[5 rows x 23 columns]

In [ ]:





# Separate features (X) and target (y)
X = data2.drop('AI_Satisfication', axis=1)  # Features
y = data2['AI_Satisfication']  # Target (Satisfaction)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Feature Scaling (optional but recommended for some models)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Train a Random Forest Classifier
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

# Feature Importance (for Random Forest)
feature_importances = pd.Series(model.feature_importances_, index=X.columns)
print("Feature Importances:\n", feature_importances.sort_values(ascending=False))

Accuracy: 0.8257575757575758
Confusion Matrix:
 [[102   4]
 [ 19   7]]
Classification Report:
               precision    recall  f1-score   support

           0       0.84      0.96      0.90       106
           1       0.64      0.27      0.38        26

    accuracy                           0.83       132
   macro avg       0.74      0.62      0.64       132
weighted avg       0.80      0.83      0.80       132

Feature Importances:
 AI_Enhance_Experience               0.165293
Online_Service_Preference           0.083023
Education                           0.058734
Annual_Salary                       0.055462
Country                             0.052799
Age                                 0.050889
Product_Category_Electronics        0.045058
Product_Category_Groceries          0.043389
Gender                              0.041388
Product_Category_Clothing           0.040194
Living_Region                       0.040151
AI_Privacy_No_Trust                 0.038943
Product_Category_Appliances         0.038878
Product_Category_Personal_Care      0.036299
AI_Tools_Used _Chatbots             0.034604
AI_Tools_Used_Virtual_Assistant     0.031250
Payment_Method_Ewallet              0.030850
AI_Tools_Used_Voice&Photo_Search    0.028706
Payment_Method_COD                  0.028190
Payment_Method_Credit/Debit         0.027479
AI_Endorsement                      0.025247
Online_Consumer                     0.003172
dtype: float64

ValueError: could not convert string to float: 'YES'